<html>
  <div style="text-align-last: right; padding-right: 45%">
    <h1>Add Events Here</h1>

    <label><b>Event Name</b></label
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="name"
      id="name"
      #title
    /><br />
    <label><b>Description</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="description"
      id="description"
      #description
    /><br />
    <label><b>Date</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="date"
      id="date"
      #date
    /><br />

    <label><b>Time</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="time"
      id="time"
      #time
    /><br />

    <label><b>Status</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="status"
      id="status"
      #status
    /><br /><br />
    <button
      type="button"
      style="margin-right: 6%"
      (click)="
        Add(
          title.value,
          description.value,
          date.value,
          time.value,
          status.value
        )
      "
    >
      Add
    </button>
    <button type="button" style="margin-right: 15px">
      <a routerLink="/home" style="text-decoration: none; color: black">Back</a>
    </button>
  </div>
</html>
